# Enumerate

* List의 Element를 추출할 때 번호를 붙여서 추출

In [3]:
for i ,v in enumerate("ABCD"):
    print("{0}\t{1}".format(i, v))

0	A
1	B
2	C
3	D

In [5]:
for i ,v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [6]:
my_str = "ABCD"
{i : v for i , v in enumerate(my_str)}

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [8]:
text = "Samsung Group is a South Korean multinational conglomerate headquartered in Samsung."
{v.lower() : i for i, v in enumerate(text.split())}

{'samsung': 0,
 'group': 1,
 'is': 2,
 'a': 3,
 'south': 4,
 'korean': 5,
 'multinational': 6,
 'conglomerate': 7,
 'headquartered': 8,
 'in': 9,
 'samsung.': 10}

In [11]:
set_text = list(set(text.split()))
{v.lower() : i for i, v in enumerate(set_text)}

{'is': 0,
 'in': 1,
 'conglomerate': 2,
 'headquartered': 3,
 'a': 4,
 'group': 5,
 'samsung': 6,
 'multinational': 7,
 'samsung.': 8,
 'south': 9,
 'korean': 10}

# Zip

In [12]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

[[a,b] for a, b in zip(alist, blist)]

[['a1', 'b1'], ['a2', 'b2'], ['a3', 'b3']]

In [13]:
[c for c in zip(alist, blist)]

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [15]:
math = (100, 80, 90)
kor = (90, 90, 70)
eng = (90, 90, 90)

[sum(value) / 3 for value in zip(math, kor, eng)]

[93.33333333333333, 86.66666666666667, 83.33333333333333]

# Enumerate & Zip

In [16]:
alist = ["a1", "a2", "a3"]
blist = ["b1", "b2", "b3"]

for i, values in enumerate(zip(alist, blist)):
    print(i, values)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [17]:
list(enumerate(zip(alist, blist)))

[(0, ('a1', 'b1')), (1, ('a2', 'b2')), (2, ('a3', 'b3'))]